/* General Styles */
body {
  background-color: #ffffff;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2em;
  margin: 0px auto;
  width: 100%;
}
#blogcaption {
  color: #ffffff;
  font-size: 2.3em;
  font-weight: 100;
  float: left;
  line-height: 70px;
}
h1 {
  color: #333333;
  text-align: center;
  font-size: 2.1em;
  font-weight: 400;
  line-height: 2.5em;
  background-color: #e4e5e2;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #ffffff;
}
h2 {
  background-color: #e4e5e2;
  color: #333333;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.75em;
  font-weight: 400;
  line-height: 35px;
  margin: 0 0 0.5em 0;
  text-align: center;
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0 0 0.3em 0;
  text-align: center;
}
h4 {
  color: rgb(120, 120, 120);
  font-size: 1em;
  text-align: center;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}

/* Header */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 100;
  background-color: #3399ff;
  opacity: 0.96;
}
header nav {
  position: relative;
  left: 1%;
}
header nav ul {
  max-height: 500px;
  overflow-y: auto;
}
header nav ul:after {
  content: "";
  clear: both;
  display: block;
}
header nav ul li {
  float: left;
}
header nav ul li:hover > ul {
  display: block;
}
header nav ul li:hover {
  background: #ffffff;
}
header nav ul li:hover a {
  color: #3399ff;
}
header nav ul li a {
  display: block;
  padding: 25px 40px;
  color: #ffffff;
  text-decoration: none;
}
header nav ul ul {
  display: none;
  background: #ffffff;
  padding: 0px;
  position: absolute;
  top: 100%;
}
header nav ul ul li {
  float: none;
  position: relative;
}
header nav ul ul li:hover {
  border-color: #3399ff;
  border-style: solid;
  border-left-width: 1px;
}

/* Navigation */
.jump {
  color: #7f7f7f;
  font-family: 'EntypoRegular';
  font-size: 60px;
  line-height: 35px;
  position: absolute;
  text-decoration: none;
  top: 0px;
}
.jump.up {
  left: 15px;
}
.jump.down {
  right: 15px;
}
.jump:hover {
  color: #f08a1f;
}
a.anchor {
  display: block;
  position: relative; 
  top: -70px; 
  visibility: hidden;
}

/* Section */
section {
  margin-top: 70px;
  margin-bottom: 70px;
}
section article {
  margin-bottom: 1em;
  position: relative;
}
section div.wrapper {
  font-size: 18px;
  line-height: 150%;
  width: 70%;
  max-width:1400px;
  margin: 0 auto;
}
section div.wrapper ol {
  list-style-type: decimal;
}
section div.code, section span.code {
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Source Code Pro';
  font-size: 16px;
  color: #4c9b42;
  background-color: #3c3a39;
}
section div.code ol {
  list-style: none;
  list-style-type: none;
}
section div.code ol > li {
  counter-increment: customlistcounter;
}
section div.code ol > li:before {
  content: counter(customlistcounter) ":";
  font-weight: bold;
  float: left;
  width: 2.5em;
}
section div.code ol:first-child {
  counter-reset: customlistcounter;
}
section div.wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto
}
section div.wrapper a:link {
  color: #3399ff;
  text-decoration: none;
}
section div.wrapper a:visited {
  color: #3399ff
}
section div.wrapper a:hover {
  color: #f08a1f
}
section div.wrapper a:active {
  color: #3eff29
}
section article:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}


/* Footer */
footer {
  position: fixed;
  z-index: 100;
  bottom: 0px;
  width: 100%;
  background-color: #3399ff;
  opacity: 0.96;
}
#social {
  float: right;
  font-size: 1.5em;
  margin: 10px;
}
#social a {
  position: relative;
  bottom: 6px;
  color: #ffffff;
  text-decoration: none;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#social a:hover {
  color: #f08a1f;
}
#social img {
  height: 32px
}
footer:after {
  /* clearfix hack */
  content: "";
  display: table;
  clear: both;
}


/* Fonts */
@font-face {
  font-family: 'EntypoRegular';
  src: url('font/Entypo-webfont.eot');
  src: url('font/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/Entypo-webfont.woff') format('woff'),
  url('font/Entypo-webfont.ttf') format('truetype'),
  url('font/Entypo-webfont.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Tablet view **/
@media screen and (max-width: 960px){
  h1 {
    font-size: 1.1em;
    line-height: 40px;
  }
  header nav li {
    line-height: 40px;
  }
  section div.wrapper {
    line-height: 120%;
    width: 95%;
  }
}
/** Mobile view **/
@media screen and (max-width: 480px) {
  h1 {
    padding: 20px;
    line-height: 40px;
  }
  header nav {
    margin-left: 5px;
  }
  header nav li {
    line-height: 40px;
  }
  header nav li a {
    font-size: 0.9em;
    margin: 3px;
    padding: 1px;
  }
  h2 {
    font-size: 2.0em;
  }
  section div.wrapper{  
    line-height: 120%;
    width: 95%;
  }
  #content {
    height:auto;
  }
  #content ul li {
    max-width: 100%;
  }
  footer nav li {
   line-height: 40px;
 }
 footer nav li a {
   font-size: 0.9em;
   margin: 3px;
   padding: 1px;
 }
}