body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

#container {
	width: 960px;
	margin: 20px auto;
	background: #eeeeee
}

#header, #footer {
	text-align: center;
	background: #f5f5f5;
	color: #afafaf;
	height: 75px;
	padding: 5px
}

#sidebar {
	float: left;
	width: 250px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	color: #afafaf
}

#sidebar ul {
	margin: 0px;
	padding: 0px;
	list-style: none
}

.content {
	width: 700px;
	background: #ffffff;
	color: #6d6d6d;
	float: left
}

.article {
	padding: 5px;
	border-style: solid;
	border-top-width: 10px;
	border-left-width: 25px;
	border-right-width: 25px;
	border-bottom-width: 10px;
	border-color: #c1c1c1
}

#footer {
	clear: both
}